@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

.fourthSection {
    height: 520px;
    background-color: #0E0E0E;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fourthSection-inner-container {
    height: 470px;
    position: relative;
    overflow: auto;
    background: linear-gradient(315deg, rgba(101,0,94,1) 3%, #0D92F4 38%, rgba(48,238,226,1) 68%, rgb(63, 63, 63) 98%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
    width: 95%;
    /* background-color: #0D92F4; */
    border-radius: 20px;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.wave {
    background: rgb(255 255 255 / 25%);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}
.fourthSection-head {
    width:160px;
    text-align: center;
    border-bottom-right-radius: 25px;
    color: white;
    padding: 10px;
    font-weight: 600;
    top: 0;
    position: absolute;
    background-color: #0E0E0E;
}

.fourthSection-inner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fourthSection-left {
    padding: 30px;
    color: white;
    font-family: "Poppins", sans-serif;

    margin-left: 50px;
}
.fourthSection-left-btn {
	font-family: "Poppins", sans-serif;

}
.fourthSection-right {
    width: 50%;
	font-family: "Poppins", sans-serif;

    display: flex;
    justify-content: center;
}
.fourthSection-left-btn {
    display: flex;
    
    position: relative;    margin-top: 20px;
    margin-bottom: -20px;
    padding: 0px 5px;
    color: black;
    width: 330px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid black;
}

.fourthSection-left-btn:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    margin-bottom: -2.5px;
    height: 3px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  .fourthSection-left-btn:hover:after { 
    width: 100%; 
    

    left: 0; 
  }
.fourthSection-left-img {
    width: 30px;
    height: 30px;
}
.fourthSection-right-img {
    width: 300px;
}

@media (max-width: 768px) {
    .fourthSection {
        height: max-content;
        padding: 20px 0;
    }
    .fourthSection-inner-container {
        flex-direction: column;
        text-align: center;
        height: max-content;
    }
    .fourthSection-head {
        position: absolute;
        left: 0;
    }

    .fourthSection-left {
        margin: 20px 0;
    }

    .fourthSection-left h1 {
        font-size: 1.8rem;
    }

    .fourthSection-left-btn {
        margin: 0 auto;
    }

    .fourthSection-right-img {
        max-width: 250px;
    }
}

@media (max-width: 480px) {
    .fourthSection-left h1 {
        font-size: 1.3rem;
        margin: 20px 0;
    }

  
.fourthSection-left-btn  {
    width: 200px;    
        font-size: 0.3em;

}
.fourthSection-left-btn  >h4 {
        font-size: 1rem;

}
    .fourthSection-right-img {
        max-width: 200px;
    }
}

